.value:hover {
    background-color: rgb(249, 249, 249);
}

@media only screen and (max-width: 768px) {
    .logoMoblie {
        font-size: 10px;
    }

    .popoverMobile {
        width: 40%;
    }

    .value {
        width: 100% !important;
    }

    .cartBtn {
        width: 40% !important;
        font-size: 10px;
    }

    .login {
        font-size: 12px !important
    }

    .imgHeader {
        width: 40px !important;
        height: 40px !important;
    }

    .cartHeader {
        font-size: 11px !important;
        overflow: auto !important;
        text-overflow: ellipsis !important;
        width: 48% !important;
    }



    .popupCart {
        width: 250px !important;
    }
}

@media only screen and (min-width: 769px) {}