@media only screen and (max-width: 768px) {
    .text {
        font-size: 20px !important;
    }

    .body {
        margin-top: 20%;
    }

    .backBtn {
        left: 2% !important;
    }

    .font-size {
        margin-left: 50%;
        font-size: 10px
    }
}